@font-face {
  font-family: "Poppins";
  src:
    url("../assets//fonts/Poppins-Thin.ttf") format("woff2"),
    url("../assets/fonts/Poppins-Medium.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}
